# Ignore everything except the backend directory
/*
!/backend/

# Then ignore node_modules inside backend
/backend/node_modules/
/backend/dist/

node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.vscode
.DS_Store
*.log
dist
frontend/
.github/
Dataset.json
data_new.json 